<footer class="bg-gray-100 dark:bg-gray-800 text-gray-700 dark:text-gray-300 p-6 shadow-xl text-center mt-auto">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="flex space-x-4">
            <a href="https://github.com/miniwolskys" target="_blank" aria-label="Voir mon profil GitHub" title="GitHub" class="hover:text-gray-900 dark:hover:text-white px-2">
                <fa-icon [icon]="faGithub" class="w-6 h-6"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/samuel-rison/" target="_blank" aria-label="Voir mon profil LinkedIn" title="LinkedIn" class="hover:text-gray-900 dark:hover:text-white">
                <fa-icon [icon]="faLinkedin" class="w-6 h-6"></fa-icon>
            </a>
        </div>

        <p class="text-sm mt-4 md:mt-0">&copy; 2025 Rison Samuel. Tous droits réservés.</p>
    </div>
</footer>