<header class="p-6 rounded-xl flex flex-col md:flex-row items-center justify-between">
    <!-- Photo de profil -->
    <div class="flex items-center space-x-4">
        <img src="assets/samuel_rison.jpeg" alt="Photo de profil" class="w-24 h-24 rounded-full shadow-lg">
        <div class="px-4">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Samuel RISON</h1>
            <h2 class="text-lg text-gray-600 dark:text-gray-300">Ingénieur Logiciel</h2>
        </div>
    </div>

    <!-- Toggle Vue Compacte -->
    <div class="mt-4 md:mt-0 flex items-center space-x-4">
        <div class="flex items-center gap-3 ml-auto px-4">
            <button mat-icon-button [matMenuTriggerFor]="filterMenu">
                <mat-icon class="text-gray-700 dark:text-gray-300">filter_alt</mat-icon>
            </button>

            <mat-menu #filterMenu="matMenu" class="bg-white dark:bg-gray-800">
                <mat-selection-list [formControl]="filter">
                    <mat-list-option *ngFor="let filter of availableFilters" [value]="filter">
                        {{ filter }}
                    </mat-list-option>
                </mat-selection-list>
            </mat-menu>

            <button mat-icon-button *ngIf="selectedFilters.length > 0" (click)="removeAllFilters()">
                <mat-icon class="text-gray-700 dark:text-gray-300 hover:text-red-500">close</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon class="text-gray-700 dark:text-gray-300">download</mat-icon>
            </button>
        </div>
        <mat-slide-toggle [(ngModel)]="isCompact" (change)="changeCompactView()">
            <span class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">Vue compacte</span>
        </mat-slide-toggle>
    </div>
</header>