<!-- Bandeau Mes Projets -->
<app-site-section [icon]="faUserGear" [sectionTitle]="'Mes projets'"></app-site-section>

<!-- Liste des projets -->
<div class="mt-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <a *ngFor="let project of projects" [routerLink]="'/projet/' + project.id" class="relative group overflow-hidden rounded-lg border border-gray-300 dark:border-gray-700 hover:shadow-lg transition">
        <!-- Image du projet -->
        <div class="w-full h-100 bg-gray-100 dark:bg-gray-800 flex items-center justify-center relative">
            <img [src]="project.image" alt="{{ project.title }}" class="w-full h-full object-cover opacity-80 group-hover:opacity-100 transition">

            <!-- Nom du projet en surimpression -->
            <div class="absolute inset-0 flex items-center justify-center bg-opacity-50 group-hover:bg-opacity-70 transition">
                <span class="text-white text-lg font-semibold px-4 text-center">{{ project.title }}</span>
            </div>
        </div>
    </a>
</div>
