.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-icon {
    font-size: 20px;
}

.highlighted-filter {
    background-color: #bfdbfe; /* Bleu clair en mode clair */
    color: #1e3a8a; /* Bleu foncé */
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px;
}

.dark .highlighted-filter {
    background-color: #2563eb; /* Bleu vif */
    color: white;
}