<div class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Bonjour !</h2>
    <p class="text-gray-700 dark:text-gray-300 leading-relaxed">
        Développeur Full Stack passionné et ingénieux, avec une solide expérience
        en développement logiciel et en gestion de projets. Mon expertise technique
        couvre des technologies front-end comme Angular et back-end comme
        Python, et je suis un fervent adepte des méthodologies agiles et du clean
        code. En complément de mes expériences professionnelles, j’ai réalisé
        plusieurs projets personnels disponibles dans la catégories Projets.
        Passionné du travail en équipe, je pratique le peer programming,
        participe activement aux revue de code et fait progresser toute
        l'équipe avec moi.
    </p>
</div>
